<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="register">
    <h1>¿Olvidate tu contraseña?</h1>

    <form id="form" [formGroup]="formData" (ngSubmit)="onSubmit()">

      <p>Escribe aquí abajo tu correo y te enviaremos un correo para que cambies tu contraseña</p>

      <ion-input placeholder="Email" formControlName="email"></ion-input>

      <ion-button type="submit" expand="block" shape="round">Enviar</ion-button>
    </form>

  </div>

</ion-content>
