<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/qtdd" color="medium shade" text="Regresar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-text>
      <h1>TASCD</h1>
    </ion-text>
    <ion-text>
      <h3><b>{{pampe?.created || null}}</b></h3>
      <h3><b>{{pampe?.verse.verse || null}}</b></h3>
      <p [innerHtml]="pampe?.verse.text"></p>
      <br>
      <h3><b>¿Qué me dijo Dios?</b></h3>
      <p>{{pampe?.qtdd}}</p>
    </ion-text>
  </div>
  
</ion-content>
