<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="medium shade"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Toma nota de tus conversaciones con Dios</ion-card-subtitle>
      <ion-card-title>¿Señor que me quieres decir hoy?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      ¿Qué te habló Dios?<br />
      ¿Cómo esto cambiará tus perspectivas?<br />
      ¿Cómo aplicará esto en tu vida diaria?<br />
    </ion-card-content>

    <ion-card-content>
      <b>PAMPE: </b><br />
      <b>P</b> - ¿Pecados que debo confesar?<br />
      <b>A</b> - ¿Actitudes que debo adoptar?<br />
      <b>M</b> - ¿Mandamientos que debo obedecer?<br />
      <b>P</b> - ¿Promesas que debo reclamar?<br />
      <b>E</b> - ¿Ejemplos que debo seguir o evitar?<br />
    </ion-card-content>
  </ion-card>

  <form>
    <ion-item>
      <ion-label position="stacked">¿Qué te dijo Dios?</ion-label>
      <ion-textarea autosize
        rows="1"
        placeholder="Escribe aquí lo que te dijo Dios"
        autocomplete="on"
        autocorrect="on"
        >
      </ion-textarea>
    </ion-item>
    <ion-button expand="full" shape="round" color="medium" (click)="qtdd()">Guardar</ion-button>
  </form>
  
</ion-content>
