$font-size: var(--ion-font-size);

.MsoNoSpacing {
  --color: #9c9c9c !important;
}

.bodycontent li,
.bodycontent span,
.bodycontent b,
.bodycontent div,
.bodycontent p {
    line-height: 1.7;
    margin-bottom: 0 !important;
    font-weight: 300;
}
.bodycontent b {
    font-weight: bold !important;
}

.card-content-md p{
  font-size: 50px !important;
}

ion-toolbar {
  --background: #ffffff;
  --opacity: 100;

  ion-label {
      color:#010100;
  }

  ion-button {
    text-transform: initial;
    font-size: 17px;
  }
}

ion-content {
  //--background: #ffffff;
  color: #fff;

  ion-card {
    .card-content {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 2px;
      font-size: $font-size;
      font-weight: normal;
      text-align: justify;
      text-justify: inter-word;
      line-height: 1.5;
    }

    b {
      text-align: left;
      //text-justify: inter-word;
    }
  }

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #444444;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  h2 {
    color: #444444;
  }

  h3 {
      color: #444444;
      padding-left: 19px;
  }

  p {
      text-align: justify;
      color: #9c9c9c;
      padding: 20px;
    }

  ion-item {
      color: #010100;
      background: #f5f5f3;
  }

  ion-button {

    margin-top: 35px;
    height: 48px;
    font-size: 18px;
    text-transform: initial;
    border-radius: 50px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
    --box-shadow: none;
  }

  @media (max-width: 50em) {
    --background: url("../../../../assets/images/background.png") 0 0/100% 100% no-repeat;
    --background-size: 100%;
    background-size: cover;
  }
}

