$font-size: var(--ion-font-size);
ion-content {

  font-size: $font-size;
  .content {
    font-size: $font-size;
  }

  @media (max-width: 50em) {
    --background: url("../../../../assets/images/background_qtdd.png") 0 0/100% 100% no-repeat;
    --background-size: 100%;
    background-size: cover;
  }
}

.bar {
  width: 70% !important;
  padding-left: 15% !important;
}
