$font-size: var(--ion-font-size);

.bodycontent li,
.bodycontent span,
.bodycontent b,
.bodycontent div,
.bodycontent p {
    //font-size: 22px !important;
    line-height: 1.7;
    margin-bottom: 0 !important;
    font-weight: 300;
}
.bodycontent b {
    font-weight: bold !important;
}

p {
  font-size: $font-size - 2px !important;
}

ion-content {
  font-size: $font-size !important;

  .card-content {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: $font-size !important;
    font-weight: normal;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
  }

  @media (max-width: 50em) {
    --background: url("../../../../assets/images/background_qtdd.png") 0 0/100% 100% no-repeat;
    --background-size: 100%;
    background-size: cover;
  }
}

.bar {
  width: 70% !important;
  padding-left: 15% !important;
}
