<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu" color="medium shade"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center"> ¿Qué te dijo Dios?</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card *ngFor="let qtd of qtdd;">
      <ion-card-header>
        <ion-card-subtitle>{{qtd.verseDate}}</ion-card-subtitle>
        <ion-card-title>{{qtd.verseName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="qtd.verseHTML.substring(0,200)">
      </ion-card-content>
      <div class="bar">
        <hr>
      </div>
      <ion-card-content class="ion-text-wrap">
        {{qtd.qtdd}}
      </ion-card-content>
    </ion-card>

<!--
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Lunes, 1 de Febrero de 2021</ion-card-subtitle>
        <ion-card-title>Génesis 21: 1-7</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Visitó Jehová a Sara, como había dicho, e hizo Jehová con Sara como había hablado.<br>

      2 Y Sara concibió y dio a Abraham un hijo en su vejez, en el tiempo que Dios le había dicho...
      </ion-card-content>
      <ion-card-content class="ion-text-wrap">
        Dios me quiere decir en Él puedo descansar mis cargas en todo momento, debo liberarme y dejar que Él obre en cada momento de mi vida
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Martes, 2 de Febrero de 2021</ion-card-subtitle>
        <ion-card-title>Génesis 21: 8-14</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Visitó Jehová a Sara, como había dicho, e hizo Jehová con Sara como había hablado.<br>

      2 Y Sara concibió y dio a Abraham un hijo en su vejez, en el tiempo que Dios le había dicho...
      </ion-card-content>
      <ion-card-content class="ion-text-wrap">
        Dios me quiere decir en Él puedo descansar mis cargas en todo momento, debo liberarme y dejar que Él obre en cada momento de mi vida
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Miercoles, 3 de Febrero de 2021</ion-card-subtitle>
        <ion-card-title>Génesis 21: 16-20</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Visitó Jehová a Sara, como había dicho, e hizo Jehová con Sara como había hablado.<br>

      2 Y Sara concibió y dio a Abraham un hijo en su vejez, en el tiempo que Dios le había dicho...
      </ion-card-content>
      <ion-card-content class="ion-text-wrap">
        Dios me quiere decir en Él puedo descansar mis cargas en todo momento, debo liberarme y dejar que Él obre en cada momento de mi vida
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Jueves, 4 de Febrero de 2021</ion-card-subtitle>
        <ion-card-title>Génesis 21: 21-27</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Visitó Jehová a Sara, como había dicho, e hizo Jehová con Sara como había hablado.<br>

      2 Y Sara concibió y dio a Abraham un hijo en su vejez, en el tiempo que Dios le había dicho...
      </ion-card-content>
      <ion-card-content class="ion-text-wrap">
        Dios me quiere decir en Él puedo descansar mis cargas en todo momento, debo liberarme y dejar que Él obre en cada momento de mi vida
      </ion-card-content>
    </ion-card>
    -->
  </ion-content>
</div>

