<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu" color="medium shade"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center"> ¿Qué te dijo Dios?</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card *ngFor="let qtd of qtdd;">
      <ion-card-header>
        <ion-card-subtitle>{{qtd.verseDate}}</ion-card-subtitle>
        <ion-card-title>{{qtd.verseName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="qtd.verseHTML.substring(0,200)">
      </ion-card-content>
      <div class="bar">
        <hr>
      </div>
      <ion-card-content class="ion-text-wrap content">
        {{qtd.qtdd}}
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>
