<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Registrar</h1>

  <form id="form"  [formGroup]="formData" (ngSubmit)="onSubmit()">
    <ion-input placeholder="Nombre" formControlName="firstName" ></ion-input>
    <ion-input placeholder="Apellido" formControlName="lastName"></ion-input>
    <ion-input placeholder="Email" formControlName="email"></ion-input>
    <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
    <ion-input type="password" placeholder="Confirmar Contraseña" formControlName="password2"></ion-input>
    <ion-button type="submit" expand="block" shape="round">Registrar</ion-button>
  </form>


   <p>Al presionar en registarse se aceptarán los <a>términos y condiciones</a> de la aplicación TASCD</p>

</ion-content>
