ion-toolbar {
    --background: #ffffff;

    ion-title {
        color: #010100;
        text-align: center;
    }
  
    ion-button {
      text-transform: initial;
      color: #b6b6b6;
      font-size: 17px;
    }
  }
  
  ion-content {
    --background: #ffffff;
  
    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      color: #010100;
      margin-bottom: 15%;
      padding: 50px;
    }
  
    #form {
      margin-top: 15%;
      padding-left: 30px;
      padding-right: 30px;
  
      ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
      }

      ion-input {
        color: #010100;
        padding-bottom: 30px;
        margin-bottom: 17px;
      }
    }

    ion-button {
      margin-top: 35px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
    }
  
    p {
      text-align: center;
      color: #b6b6b6;
      margin-top: 40px;
    }

    a {
        text-align: center;
        padding: 50px;
        text-decoration: none;
    }
  }