<ion-app>
  <ion-menu side="start" menuId="main-menu" content-id="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <ion-avatar>
          <img
            src="https://image.freepik.com/vector-gratis/vector-avatar-sonriente-hombre-expresion-facial_102172-203.jpg"
          />
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2>Bienvenido!</h2>
          <p>Luis Llanos</p>
        </ion-label>
      </div>
      <div class="action-button">
        <ion-button
          ><ion-icon name="flame-outline" color="warning"></ion-icon
          >Racha</ion-button
        >
      </div>

      <ion-list lines="none" class="menu-items">
        <ion-list>
          <ion-item routerLink="/profile"  [routerLinkActive]="['active']"
            ><ion-icon name="person-circle-outline"></ion-icon> Perfil</ion-item
          >
          <ion-item routerLink="/home"  [routerLinkActive]="['active']"
            ><ion-icon name="cafe-outline"></ion-icon> Mi TASCD</ion-item
          >
          <ion-item routerLink="/qtdd"  [routerLinkActive]="['active']"
            ><ion-icon name="book-outline"></ion-icon> Mi Diario</ion-item
          >
          <ion-item routerLink="/settings"  [routerLinkActive]="['active']"
            ><ion-icon name="construct-outline"></ion-icon>
            Configuración</ion-item
          >
          <ion-item routerLink="/login"  [routerLinkActive]="['active']"
            ><ion-icon name="log-out-outline" color="danger"></ion-icon>
            <ion-text color="danger"> Salir</ion-text></ion-item
          >
        </ion-list>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
