<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="medium shade"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="6">
        <ion-card>
          <ion-card-content>
            <p class="letter">Aa</p>
            <p>Letra y Fuentes</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="6">
        <ion-card>
          <ion-card-content>
            <ion-icon name="color-palette-outline"></ion-icon>
            <p>Temas y Colores</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="6">
        <ion-card>
          <ion-card-content>
            <ion-icon name="arrow-redo-outline"></ion-icon>
            <p>Comparte</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="6">
        <ion-card>
          <ion-card-content>
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <p>Coméntanos</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
