<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu" color="medium shade"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center"> ¿Qué te dijo Dios?</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content> 

    <ion-card *ngFor="let p of pampe">
      <ion-card-header>
        <ion-card-subtitle>{{p.created}}</ion-card-subtitle>
        <ion-card-title>{{p.verse.verse}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-wrap">
          {{p.verse.text}}
      </ion-card-content>
      <ion-card-content class="ion-text-wrap">
        {{p.qtdd}}
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>

