<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="medium shade"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register">
    <h1>Perfil</h1>

    <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=170667a&w=0&k=20&c=bsbD0qLFJ6fSUCXG_iyo7JBnmKi6T-uUblC8FNZFJoU=" />


    <form id="form" [formGroup]="formData" (ngSubmit)="onSubmit()">

      <ion-input placeholder="Nombre" formControlName="firstName"></ion-input>

      <ion-input placeholder="Apellido" formControlName="lastName"></ion-input>

      <ion-input placeholder="Email" disabled="true"></ion-input>

      <ion-button type="submit" expand="block" shape="round">Guardar</ion-button>

    </form>
    <hr>
    <br>
    <br>
    <ion-button expand="block" shape="round" fill="outline" class="out-ion-button">Olvide mi contraseña</ion-button>
    <ion-button expand="block" shape="round" color="danger" class="out-ion-button">Eliminar cuenta</ion-button>
  </div>
</ion-content>
