<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="register">
    <h1>Cambiar Contraseña</h1>

    <form id="form" [formGroup]="formData" (ngSubmit)="onSubmit()">

      <app-show-hide-password>
        <ion-input placeholder="Contraseña" type="password" formControlName="password" maxlength="20"></ion-input>
      </app-show-hide-password>

      <app-show-hide-password>
        <ion-input placeholder="Confirmar Contraseña" type="password" formControlName="password2"
          maxlength="20"></ion-input>
      </app-show-hide-password>

      <ion-button type="submit" expand="block" shape="round">Aceptar</ion-button>
    </form>


  </div>

</ion-content>
