<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="portrait">
      <h1>A a</h1>
      <p class="paragraph">Todo lo puedo <b>en Cristo</b> que me fortalece</p>
    </div>

    <ion-list>
      <ion-item>
        <ion-label>
          <p>Tamaño de Letra</p>
          <ion-range [ticks]="true" [snaps]="true" [min]="14" [max]="30" [step]="2" [pinFormatter]="pinFormatter" [value]="appConfiguration.fontSize!.valueOf()!"
            [pin]="true" (ionChange)="changePin($event)"></ion-range>
        </ion-label>

      </ion-item>
      <ion-item>
        <ion-label>
          <p>Tipo de Letra</p>
          <ion-select interface="action-sheet" placeholder="Select" cancelText="Cancel" [value]="appConfiguration.fontFamily!" (ionChange)="changeText($event)">
            <ion-select-option value="Segoe UI">Segoe UI</ion-select-option>
            <ion-select-option value="Courier New">Courier New</ion-select-option>
            <ion-select-option value="Franklin Gothic Medium">Franklin Gothic Medium</ion-select-option>
            <ion-select-option value="Lucida Sans">Lucida Sans</ion-select-option>
            <ion-select-option value="Gill Sans">Gill Sans</ion-select-option>
            <ion-select-option value="Arial">Arial</ion-select-option>
          </ion-select>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
