<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="medium shade"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="isTextFocus" >
    <ion-card-header class="size">
      <ion-card-subtitle>Toma nota de tus conversaciones con Dios</ion-card-subtitle>
      <ion-card-title>¿Señor que me quieres decir hoy?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="size">
      ¿Qué te habló Dios?<br />
      ¿Cómo esto cambiará tus perspectivas?<br />
      ¿Cómo aplicará esto en tu vida diaria?<br />
    </ion-card-content>

    <ion-card-content class="size">
      <b>PAMPE: </b><br />
      <b>P</b> - ¿Pecados que debo confesar?<br />
      <b>A</b> - ¿Actitudes que debo adoptar?<br />
      <b>M</b> - ¿Mandamientos que debo obedecer?<br />
      <b>P</b> - ¿Promesas que debo reclamar?<br />
      <b>E</b> - ¿Ejemplos que debo seguir o evitar?<br />
    </ion-card-content>
  </ion-card>

  <form>
    <div class="container">
      <ion-label position="stacked" class="size">¿Qué te dijo Dios?</ion-label>
      <quill-editor id="scrolling-container" [(ngModel)]="textarea2" name="textarea2"></quill-editor>
      <ion-button expand="full" shape="round" color="medium" (click)="pampe()" *ngIf="!isPampeDone">Guardar</ion-button>
    </div>
  </form>

</ion-content>
