<ion-menu side="start" menuId="main-menu" content-id="main">
  <ion-content>
    <div class="menu-header-bg"></div>
    <div class="header-content">
      <ion-avatar>
        <img
          src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=170667a&w=0&k=20&c=bsbD0qLFJ6fSUCXG_iyo7JBnmKi6T-uUblC8FNZFJoU=" />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>Bienvenido!</h2>
        <p>{{name}}</p>
      </ion-label>
    </div>
    <div class="action-button">
      <ion-button (click)="onFire()"  ><ion-icon name="flame-outline" color="warning"></ion-icon>{{fire}} Racha</ion-button>
    </div>

    <ion-list lines="none" class="menu-items">
      <ion-list>
        <ion-menu-toggle auto-hide="false" class="item-transparent" style="cursor: pointer;">
          <ion-item routerLink="/profile" [routerLinkActive]="['active']"><ion-icon
              name="person-circle-outline"></ion-icon> Perfil</ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" class="item-transparent"  style="cursor: pointer;">
          <ion-item routerLink="/home" [routerLinkActive]="['active']"><ion-icon name="cafe-outline"></ion-icon> Mi
            TASCD</ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" class="item-transparent" style="cursor: pointer;">
          <ion-item routerLink="/qtdd" [routerLinkActive]="['active']"><ion-icon name="book-outline"></ion-icon> Mi
            Diario</ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" class="item-transparent"  style="cursor: pointer;">
          <ion-item routerLink="/settings" [routerLinkActive]="['active']"><ion-icon
              name="construct-outline"></ion-icon>
            Configuración</ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" class="item-transparent"  style="cursor: pointer;">
          <a href="https://cbint.org/donaciones"><ion-item [routerLinkActive]="['active']"><ion-icon
              name="bag-check-outline"></ion-icon>Donaciones</ion-item></a>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" class="item-transparent" (click)="logout()" style="cursor: pointer;">
          <ion-item [routerLinkActive]="['active']"><ion-icon name="log-out-outline" color="danger"></ion-icon>
            <ion-text color="danger"> Salir</ion-text></ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet id="main"></ion-router-outlet>
