ion-toolbar {
  --background: #ffffff;

  ion-title {
      color: #010100;
      text-align: center;
  }

  ion-button {
    text-transform: initial;
    color: #b6b6b6;
    font-size: 17px;
  }
}

ion-content {
  --background: #f5f5f3;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #010100;
    margin-bottom: 15%;
    padding: 50px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 50%;
    max-width: 50%;
    height: auto;
  }

  .line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  #form {
    margin-top: 10%;
    padding-left: 30px;
    padding-right: 30px;

    ion-item {
      --inner-padding-end: 0px;
      --padding-start: 0px;
      --min-height: 75px;
      --border-style: none;
      --background: rgba(0, 0, 0, 0);
      --border-color: rgba(0, 0, 0, 0);
    }

    app-show-hide-password {
      background: var(--ion-color-input-background);
      border-radius: 8px;
    }

    ion-input {
      --background: var(--ion-color-input-background);
      --padding-start: 12px;
      --padding-top: 12px;
      --padding-bottom: 12px;
      border-radius: 8px;
    }
  }

  ion-button {
    margin-top: 35px;
    height: 48px;
    font-size: 18px;
    text-transform: initial;
    border-radius: 50px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
    --box-shadow: none;
  }

  p {
    text-align: center;
    color: #b6b6b6;
  }

  .letters {
    margin-top: 15%;
  }

  a {
      text-align: center;
      padding: 50px;
      text-decoration: none;
  }

  .list-form {
    ion-label {
      font-size: 0.85em;
      color: var(--ion-color-cuaternario);
      font-weight: 600;
    }

    ion-input {
      color: var(--ion-color-cuaternario);
    }
  }

  @media (min-width: 50em) {
    .login {
      width: 50%;
      margin: auto;
      padding: 10px;
    }

    .letters {
      margin-top: 5%;
    }
  }
}
