<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="login">
    <h1>TASCD</h1>

    <form id="form" class="list-form" [formGroup]="formData" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input placeholder="Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <app-show-hide-password>
          <ion-input placeholder="Password" type="password" formControlName="password" maxlength="20"></ion-input>
        </app-show-hide-password>
      </ion-item>

      <ion-button type="submit" expand="block" shape="round">Ingresar</ion-button>
    </form>

    <p><a routerLink="/register">¿No te has registrado?</a></p>
    <p><a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a></p>
  </div>

</ion-content>
